:root {
    --fundo1: #F29F05;
    --fundo2: #Ededed;
    --titulo: #021F59;
    --bordas: #021F59;
    --bordas2: #F2CB05;
    --bordas3: #03A61C;
    --texto: #021F59;
    --Primavera: #8BC34A; /* (Verde Limão) */
    --Verao: #FF6347; /* (Vermelho Coral) */
    --Outono: #FFA500; /* (Laranja) */
    --Inverno: #4682B4; /* (Azul Aço) */

/*     #021F59
#03A61C
#067302
#F2CB05
#F29F05 */

}