@import 'cores.css';

body{
    background-image: url('../imgs/fundo2.jpeg');
    background-size: cover;
    background-position: center;
}

.card {
    background-color: var(--fundo1) !important;
    border: 5px solid var(--bordas) !important;
}

.card-header{
    border-bottom: 5px solid var(--bordas) !important;
}

h1{
    color: var(--titulo) !important;
}

.card-footer{
    color: var(--titulo) !important;
    border-top: 5px solid var(--bordas) !important;
}